$colors: #1151ff, #44abff, #77cdff, #99f8ff;
$colorDark: #17212d;
$colorLight: #222c36;

$colorBackground: #333333;
$colorHeader: #101010;
$colorNetflixRed: #dd0012;


@import '~bootstrap/scss/bootstrap'