$colors: #dfff, #f09fab, #eb3e3e, #dd0012;
$colorDark: #17212d;
$colorLight: #222c36;

$colorBackground: #333333;
$colorHeader: #101010;
$colorNetflixRed: #dd0012;


@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.css'